<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>


<nav style="background-color: var(--main-color)" class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">&nbsp;&nbsp;Study.Async</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="flashcardDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Flashcard
        </a>
        <ul class="dropdown-menu" aria-labelledby="flashcardDropdown">
          <li><a class="dropdown-item" href="{% url 'novo_flashcard' %}"><i class='bx bxs-credit-card-alt'></i> Criar flashcard</a></li>
          <li><a class="dropdown-item" href="{% url 'iniciar_desafio' %}"><i class='bx bx-fast-forward-circle'></i> desafio</a></li>
          <li><a class="dropdown-item" href="{% url 'listar_desafio' %}"><i class='bx bx-list-ul'></i>Listar desafio</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="apostilasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Apostilas</a>
        <ul class="dropdown-menu" aria-labelledby="apostilasDropdown">
          <li><a class="dropdown-item" href="{% url 'adicionar_apostilas' %}"><i class="fas fa-book"></i> Criar Apostila</a></li>
        </ul>
      </li>
      <li class="nav-item navbar-collapse justify-content-between">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
    <span class="navbar-text">
      Usuário Logado: {{request.user}}&nbsp;&nbsp;
    </span>
  </div>
</nav>
