{% extends "base.html" %}
{% load static %}

{% block 'cabecalho' %}

    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/novo_flashcard.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/iniciar_desafio.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/desafio.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock 'cabecalho' %}


{% block 'conteudo' %}

    {% include "partials/header.html"%}
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md">
                <form action="}" method="GET">
                <label for="">Categoria</label>
                <select name="categoria" class="form-select">
                   
                </select>
            </div>
            <div class="col-md">
                <label for="">Dificuldade</label>
                <select name="dificuldade" class="form-select">
                    
                </select>
            </div>
            <div class="col-md">
                <br>
                <input type="submit" value="Filtrar" class="btn-cadastro">
                </form>
            </div>
        </div>
        <br>
        <br>
        <div class="box-listar">
            <table>
                <thead>
                  <tr>
                    <th scope="col">Desafio</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Dificuldade</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                    {% for desafio in desafios %}
                        <tr class="linha">
                            <th><a href="{% url 'desafio' desafio.id%}">{{desafio.id}}</a></th>
                            <td>{{desafio.titulo}}</td>
                            <td>{{desafio.get_dificuldade_display}}</td>
                            <td>{{desafio.status}}</td>
                        </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <script src="{% static 'flashcard/js/flashcard.js' %}"></script>
{% endblock 'conteudo' %}