{% extends "base.html" %}
{% load static %}

{% block 'cabecalho' %}

    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/novo_flashcard.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/iniciar_desafio.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/desafio.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-T9E1avd4w72/02S8wXEAUpiQQpK4b1P9lDArFIAeF3Feg1GXxhFIBB3jJ2xse4gB" crossorigin="anonymous">



{% endblock 'cabecalho' %}


{% block 'conteudo' %}

    {% include "partials/header.html"%}
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md">
                <form action="}" method="GET">
                <label for="">Categoria</label>
                <select name="categoria" class="form-select">
                   
                </select>
            </div>
            <div class="col-md">
                <label for="">Dificuldade</label>
                <select name="dificuldade" class="form-select">
                    
                </select>
            </div>
            <div class="col-md">
                <br>
                <input type="submit" value="Filtrar" class="btn-cadastro">
                </form>
            </div>
        </div>
        <br>
        <br>
        <div class="box-listar">
            <table>
                <thead>
                  <tr>
                    <th scope="col">Desafio</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Dificuldade</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                    {% for dados_desafio in dados_desafios %}
                        <tr class="linha">
                            <th><a href="{% url 'desafio' dados_desafio.desafio.id%}">{{dados_desafio.desafio.id}}</a></th>
                            <td>{{dados_desafio.desafio.titulo}}</td>
                            <td>{{dados_desafio.desafio.get_dificuldade_display}}</td>
                            <td>{{dados_desafio.desafio.status}}</td>
                            <td>Acertos: {{dados_desafio.acertos}} / Erros: {{dados_desafio.erros}} / Faltantes: {{dados_desafio.faltantes}}</td>
                        </tr>
                  {% endfor %}

                </tbody>
              </table>
        </div>
    </div>
    <script src="{% static 'flashcard/js/flashcard.js' %}"></script>


     <style>
        .progress-bar {
            height: 100%;
            font-size: 0.75rem;  /* Ajuste conforme necessário */
        }
        
        .linha td {
            vertical-align: middle;
        }
    </style>   
    
    {% endblock 'conteudo' %}