{% extends "base.html" %}
{% load static %}

{% block 'cabecalho' %}
    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{% static 'flashcard/css/novo_flashcard.css' %}" rel="stylesheet">
    <script src="{% static 'flashcard/js/flashcard.js' %}" defer> </script>


{% endblock 'cabecalho' %}

{% block 'conteudo' %}

{% include "partials/header.html"%}


    <div class="container">
        <br>
        <br>
        <div class="row">
            
            <div class="col-md">
                
                <div class="box-form">
                    <form action="{% url 'novo_flashcard' %}" method="POST"> {% csrf_token %}
                        <h3>Novo flashcard</h3>
                        {% if messages %}
                            <br>
                            {% for message in messages %}
                                <section class="alert {{message.tags}}">
                                    {{message}}
                                </section>
                            {% endfor %}
                        {% endif %}
                        <br>
                        <label>Pergunta</label>
                        <input type="text" class="form-control" placeholder="pergunta" name="pergunta">
                        <br>
                        <label>Resposta</label>
                        <textarea class="form-control" name="resposta"></textarea>
                        <br>
                        <div class="row">
                            
                                <div class="col-md">
                                    <label for="">Categoria</label>
                                    <select class="form-select" name="categoria">
                                        {% for categoria in categorias %}
                                            <option value={{ categoria.id }}>{{categoria}} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md">
                                    <label for="">Dificuldade</label>
                                    <select class="form-select" name="dificuldade">
                                        {% for dificuldade in dificuldades %}
                                            <option value={{ dificuldade.0 }}>{{dificuldade.1}} </option>
                                        {% endfor %}

                                    </select>

                                </div>
                            
                        </div>
                        <br>
                        <input type="submit" value="Enviar" class="btn-cadastro">
                        <br>
                        <br>
                        <br>
                    </form>
                </div>

            </div>
            <div class="col-md">
                <form action="{% url 'novo_flashcard' %}" method="GET"> 
                    <div class="row">
                        <div class="col-md">
                            <label for="">Categoria</label>
                            <select name="categoria" id="" class="form-select">
                                <option value="">Todas as Categorias</option>
                                {% for categoria in categorias %}
                                <option value={{ categoria.id }}>{{categoria}} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md">
                            <label for="">Dificuldade</label>
                            <select name="dificuldade" id="" class="form-select">
                                <option value="">Todas as Dificuldades</option>
                                {% for dificuldade in dificuldades %}
                                    <option value={{ dificuldade.0 }}>{{dificuldade.1}} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md">
                            <br>
                            <input type="submit" style="width: 100%" value="Filtrar" class="btn-cadastro">
                        </div>
                    </div>

                </form>

                <br>
                <br>
                {% for flash in flashcards %}
                    <div class="box-new-flashcard" onclick="flip_card({{flash.id}})">
                        <div class="flashcard ">

                            <div class="flashcard-categoria">
                                {{flash.categoria}}
                            </div>

                            <a href="{% url 'deletar_flashcard' flash.id %}"><i class='icone-exit bx bx-x-circle'></i></a>
                            <br>
                            <br>
                            <div class="flashcard-box-item">
                                <p class="flashcard-item">{{flash.pergunta}}</p>
                            </div>
                            
                        </div>
                        <div class="resposta-flashcard" id="{{flash.id}}">
                            {{flash.resposta}}
                        </div>
                    </div>
                    <br>
                    <br>
                {% endfor %}    
                    
                

            </div>
        </div>
    </div>



    
{% endblock 'conteudo' %}