{% extends "base.html" %}
{% load static %}

{% block 'cabecalho' %}

    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/novo_flashcard.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/iniciar_desafio.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/desafio.css' %}" rel="stylesheet">
    <link href="{% static 'apostilas/css/adicionar_apostilas.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock 'cabecalho' %}


{% block 'conteudo' %}
    {% include "partials/header.html" %}
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md">

                <div class="box-form">
                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <section class="alert {{message.tags}}">
                                {{message}}
                            </section>
                        {% endfor %}
                        <br>
                    {% endif %}
                    <form action="{% url 'adicionar_apostilas' %}" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                        <p class="fonte-secundaria">Adicionar resumos</p>
                        <label>Titulo</label>
                        <input type="text" name="titulo" placeholder="titulo" class="form-control">
                        <br>
                        <label>Arquivo</label>
                        <input type="file" name="arquivo" class="form-control">
                        <br>
                        <input type="submit" class="btn-cadastro" value="Enviar">
                    </form>
                </div>

            </div>
            <div class="col-md">

                <table>
                    <thead>
                      <tr>
                        <th scope="col">Titulo</th>
                        <th scope="col">Ação</th>
                      </tr>
                    </thead>
                    <tbody>                        
                        {% for apostila in apostilas %}
                        <tr class="linha">
                            <td>{{apostila.titulo}}</td>
                            <td><a href="{% url 'apostila' apostila.id %}" style="color: black; text-decoration: none;" class="btn-cadastro">Abrir</a></td>
                        </tr>
                    {% endfor %}
                        
                    </tbody>
                  </table>
                  <hr>
                  <p class="fonte-secundaria">Views totais: {{views_totais}} </p>
            </div>
        </div>
    </div>
{% endblock 'conteudo' %}